#logo {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#lead {
    text-align: left;
    width: 100%;
}
#form {
    line-height: 2;
}

/* hide containers platform card when shrunk to phone size */