

#logo {
    width: auto;
    height: 100%;
    border-radius: 5px;
   
}
#label{
    
    width: 100%;
}

#contain-1 {
    width: 65%;
} 
#form {
    margin-top: 10%;
    
   
  float: right;
}
.title {
    float: left;
  
}
.card-div {
    width: 28%;
}
#mobile-carousel {
    display: none;
}


@media screen and (max-width:770px) {
  
  
    .title {
        float: right;
        font-size: 10pt;
    }
    
 #form {
     float: center;
   
    
 
   margin: 0%;
   margin-bottom: 5%;
}
#lead {
    font-size: 8pt;
    margin: 0%;
}
    
    
    
    #contain-1{
        width: 65%;
        display: none;
    }
   
 
   #mobile-carousel {
       width: 65%;
       display: block;
   }
   #logo {
   width: 25%;
   height: 100%;
   }
   #platform-card {
       padding-left: 5%;
       padding-right: 5%;
   }
   



   .card-div {
    width: 100%;
}
   
  
  


@media screen and (max-width: 640px){
    #logo{
        display: none;
    }
    #form {
        
   margin-left: 25%;
   margin-right: 25%;
   margin-bottom: 0%;
  

    }
    .title{
       width: 100%;
    }
    #search {
        padding: 0%;
        
    }
    
    .btn-group-toggle, #label{
        display: inline;
       
    
    }
   
   
    #mobile-carousel {
        width: 100%;
    }
   
    

}
     
 }
 

   


/*     
   } hide containers platform card when shrunk to phone size */