/* dashboard page */
body{ background-image: radial-gradient(circle, #000000, #3b3b3b, #777777, #b9b9b9, #ffffff);
  background-position-y: center;
  
}
#mobile-carousel{
  
  
  height: 100%;
  
  background-image: radial-gradient(circle, #ffffff, #d2d2d2, #a6a6a6, #7c7c7c, #555555);
}
#startImage{
  
  height: 480px;
}
#logout {
  right: 0;
  bottom: 0;
}
#logo {
  width: auto;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  left: 0px;
}

#label,
.button-check {
  width: 100%;
}
#card-1{

  background-image: radial-gradient(circle, #ffffff, #d2d2d2, #a6a6a6, #7c7c7c, #555555);  
}

.disp-1 {
  
  height: 410px;
  overflow-y: scroll;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
#sign-up,
#sign-in,
#label,
#logout {
  background-color: #000000;
}
#sign-up,
#sign-in,
#label,
#logout {
  background-color: #000000;
}
#button-check,
#label {
  font-size: 1rem;
}
#carouselExampleFade {
  width: 100%;
}
.card-body {
  width: 100%;
}
#mobile-carousel {
  width: 85%;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  min-height: 100%;
  margin-bottom: 40px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #000000;
}
/* landing page */
.about {
  font-size: 27px;
  font-family: "Oswald", sans-serif;
}
h2 {
  font-size: 45px;
}
#sign-in {
  float: right;
}

@media screen and (max-width: 770px) {
  #startImage{
    height: 100%;
  }
  #mobile-carousel {
    width: 100%;
  }
  .title {
    font-size: 10pt;
  }

  #form {
    margin: 0%;
    margin-bottom: 5%;
  }
  #lead {
    font-size: 10pt;
    margin: 0%;
  }

  #logo {
    width: 25%;
    height: 100%;
  }
}

@media screen and (max-width: 640px) {
  #logo {
    display: none;
  }

  #title,
  .title {
    width: 100%;
    font-size: 22pt;
  }
  #logout {
    font-size: 6pt;
    top: 0;
  }

  .button-check,
  #label {
    font-size: 6pt;
  }
  #addButton {
    width: 40%;
  }
  /* landing page */
  .about {
    font-size: 1rem;
  }
  .disp-1{
    padding: 0;
  }
}

