

#logo {
    width: auto;
    height: 100%;
    border-radius: 5px;
}
#label{
    
    width: 100%;
}


/* #button-check{
    display: flex;
    justify-content: center;
   

} */
/* #label {
    
    width: 75%;
} */
#contain-1 {
    width: 65%;
} 
#form {
    margin-top: 10%;
    
   
  float: right;
}
.title {
    float: left;
  
}


@media screen and (max-width:770px) {

    /* #label{
        width: 50%;
    } */
    .title {
        float: right;
    }
    
 #form {
    float: right;
   margin: 0%;
   margin-bottom: 5%;
}
#lead {
    margin: 0%;
}
    
    
    
    #contain-1{
        width: 65%;
        display: none;
    }
    #platform-card {
        padding: 1%;
    }
    /* #label {
        width: 100%;
        padding: 0%;
    } */
   #mobile-carosel {
       width: 65%;
   }
   #logo {
   width: 25%;
   height: 100%;
   }
   #platform-card {
       padding-left: 5%;
       padding-right: 5%;
   }
   

#addButton {
    width: 60%;
  
}
#search {
    width: 30%;
    margin-left: 5%;

   }
   
  
  


@media screen and (max-width: 640px){
    #logo{
        display: none;
    }
    #form {
        
   margin-left: 25%;
   margin-right: 25%;
   margin-bottom: 0%;
  

    }
    .title{
       width: 100%;
    }
    #search {
        padding: 0%;
        
    }
    #addButton {
        padding: 0%;
    }
    .btn-group-toggle, #label{
        display: inline;
    
    }

}
     
 }
 

   


/*     
   } hide containers platform card when shrunk to phone size */